@model AuthRequest
@{
    ViewData["Title"] = "XACCESS 2.0";
    var message = ViewBag.SuccessMessage;
}
<script>
    $(document).ready(function () {
        $.getJSON('https://jsonip.com?callback=?', function (data) {
            $("#ip-address").val(data.ip);
        });

        $("#emailAddress").on("blur", function () {
            var request;
            var checkEmail = $("#emailAddress").val();
            if (window.XMLHttpRequest) {
                request = new XMLHttpRequest();
            }
            else if (window.ActiveXObject) {
                console.log("old")
                request = new ActiveXObject("Microsoft.XMLHTTP");
            }
            if (request != null) {
                var url = "https://xaccessapi.x.direct/CheckMailDomain";
                request.open("POST", url);
                let data = JSON.stringify({ "emailAddress": checkEmail });
                request.setRequestHeader("Content-Type", "application/json");
                request.onreadystatechange = function () {
                    if (request.readyState == 4 && request.status == 200) {
                        var response = JSON.parse(request.responseText);
                        if (response.requiresXNumber == true) {
                            $("#dealNumber").css("visibility", "visible");
                        }
                        else {
                            $("#dealNumber").css("visibility", "hidden");
                        }
                    }
                };
                request.send(data);
            }
        });

        $("#emailAddress").on("keyup", function () {
            var checkEmail = $("#emailAddress").val();
            if (checkEmail.length > 0) {
                $("#regButton").hide();
            } else {
                $("#regButton").show();
            }
        });
    });
</script>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <img src="~/images/xaccess.png" id="icon" alt="XACCESS" />
        </div>
        @using (Html.BeginForm("CheckCode", "Home", FormMethod.Post, new { id = "loginForm", autocomplete = "off" }))
        {            
            <div>
                @Html.TextBoxFor(l => l.EmailAddress, new { @placeholder = "Mobile Number / Email Address", @class = "fadeIn second", @id = "emailAddress" })
                @Html.HiddenFor(l => l.IPAddress, new { @id = "ip-address", @placeholder = "IP Address" })
            </div>
            <div>
                @Html.TextBoxFor(l => l.MFACode, new { @placeholder = "One Time Passcode", @class = "fadeIn second", @id = "mfa" })
            </div>
            <div>
                @Html.TextBoxFor(l => l.DealNumber, new { @placeholder = "XNumber", @class = "fadeIn second", @style = "visibility:hidden", @id = "dealNumber" })
            </div>
            <input type="submit" class="fadeIn third" value="Authorise" name="btnSubmitLogin" />
        }

        @using (Html.BeginForm("Register", "Home", FormMethod.Post, new { id = "toRegister" }))
        {
            <div id="regButton">
                <input type="submit" class="fadeIn third" value="REGISTER" name="btnRegister" />
            </div>
            <div id="final" class="fadeIn fourth">
                <a href="https://x.direct"><img src="~/images/xstra.png" id="logo" style="height:50px" alt="Powered by Xstra" /></a>
            </div>
        }
    </div>
</div>
